html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #E1DBCB;
  color: #2D2D2D;
  margin: 0;
  padding: 0;
  min-height: 200px;
  font-weight: 500;
}

/*--------------------------------------------------------BUTTON--------------------------------------------------------------------------*/
.diagonal-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #f5f5ec; /*superlight*/ 
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;                  /* Make it full-width */
  max-width: 220px;             /* Cap it on desktop */
  text-align: center;
  margin: 10px auto 0 auto;     /* Center it inside the card */
  background-color: transparent;
  border: 2px solid #5d624c;
}
.diagonal-btn.clicked {
  color: #394931; /*darkgreen*/
}
.diagonal-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #5d624c 50%, #394931 50%);
  z-index: 0;
  transition: transform 0.4s ease;
  transform: translateX(0);
  border-radius: 4px;
  border-color: 2px solid #394931 ;
  opacity: 1;
}

.diagonal-btn span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.diagonal-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.);
}

.diagonal-btn.clicked::before {
  transform: translateX(100%);
}


/*--------------------------------------------------------NAVBAR--------------------------------------------------------------------------*/
.navbar {
  position: sticky;
  top: 10px;
  background-color: #5d624c;/*finch*/
  z-index: 1030;
  border-radius: 30px;
  padding: 5px 10px;
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.9);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: #f5f5ec; 
  transition: color 0.3s ease; 
}

.navbar-brand:hover {
  color: #E1DBCB;/*bone*/
}

.navbar-nav .nav-link {
  color: #f5f5ec;
  font-weight: 500;
  padding: 4px 10px;
  font-size: 0.95rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #E1DBCB;/*bone*/
  transform: translateY(-2px); 
}

.navbar-nav .nav-item.active .nav-link {
  color: #2D2D2D; /*mauve*/
}

.navbar-toggler {
  border-color: #f5f5ec; 
}

.navbar-toggler-icon {
  background-color: #f5f5ec; 
}

.navbar.scrolled {
  background-color: #394931;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*-------------------------------------------------------HERO SECTION--------------------------------------------------------------------*/
.hero {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
  url('../Hero_Section/DaSea.png') no-repeat center center/cover;
  color: #f8f1ee;
  text-align: center;
  padding: 90px 10px;
  margin: 30px 0px 80px;
  min-height: 80vh;    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  color: #f5f5ec;
}

 /*---------------------------------------------------------ABOUT-------------------------------------------------------------------------*/
 #aboutme{
  scroll-margin-top: 10px;
}

.bio-img {
  max-width: 100%;
  height: auto;
  box-shadow: none !important; 
  border: none !important;    
  padding: 0;
  margin: 0;
  transition: none !important;
}
.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 20px;
  padding: 70px 50px 20px 50px;
} 


/*---------------------------------------------------HIGHLIGHT PROJECTS-------------------------------------------------------------------*/
#portfolio{
  scroll-margin-top: 130px;
}

#portfolio.highlight {
  color: #f5f5ec;
  padding: 80px 0px ;
  margin: 120px 0px 100px 0px;
  background-color: #868b6b!important;
  height: auto;
}

.port-container {
  padding: 10px 80px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portfolio-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
}

.portfolio-image:hover {
  transform: scale(1.05); 
}

.featured-heading {
  text-align: center;
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}


/*---------------------------------------------------PORTFOLIO WORKS---------------------------------------------------------------------*/
#works{
  scroll-margin-top: 5px;
  font-weight: 500;
}

.works{
  padding: 100px 50px 180px ;
  width: 100%;
}

#portfolios.container{
  max-width: 900px;
  margin: auto;
  padding: 60px 20px 20px;
}

.service-card {
  border: 1px solid #5d624c; /*lemon grass*/
  background-color: #9ca089; /*battleship gray*/
  border-radius: 12px;
  transition: transform 0.2s ease;
  padding: 10px;
  height: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 460px; 
}

.service-card:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 15px rgba(6, 50, 17, 0.2);
}

.service-card .card-img-top {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.service-card .card-title {
  color: #f5f5ec;
  font-weight: bold;
}

.service-card .card-text {
  color: #f5f5ec;
}

.carousel-indicators {
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.carousel-indicators [data-bs-target] {
  width: 13px;
  height: 12px;
  border-radius: 50%;
  background-color: #5d624c;;
  opacity: 0.5;
  border: none;
  border: 2px solid #f5f5ec;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.carousel-indicators .active {
  background-color: #394931;
  opacity: 1;
  border-color: #f5f5ec;
}

/*-------------------------------------------------ACADEMIC and AFFIRMATION---------------------------------------------------------------*/
#assesments{
  scroll-margin-top: 100px;
}

.dual-slider-section {
  padding: 200px 30px;
  background-image: url('../Assesment_Section/asserfirmation.png ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.dual-pane {
  display: flex;
  flex-direction: row; /* THIS makes them side by side */
  flex-wrap: nowrap;   /* Prevent wrapping if possible */
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 20px;
  z-index: 1;
  padding: 0px 50px;
}

.bg-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); 
  z-index: 0;
  pointer-events: none;
}

.slider-pane {
  flex: 1;
  min-width: 0;
  min-height: 380px;
  transition: filter 0.5s ease, opacity 0.5s ease;
  backdrop-filter: blur(4px);
  padding: 16px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slider-pane.inactive {
  filter: blur(6px);
  opacity: 0.6;
}

.pane-left {
  background-color: rgba(255, 255, 255, 0.08);
  color: #f5f5ec;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.pane-right {
  background-image: linear-gradient(rgba(37, 43, 37, 0.6),
   rgba(37, 43, 37, 0.6)), url('../Assesment_Section/AFFIRMATIONS/affirmations.png');
  background-size: cover;
  background-position: center;
  color: #f5f5ec;
}

.glass-textbox,
.affirmation-content {
  backdrop-filter: blur(3px);
  padding: 16px;
  font-size: 1rem;
}

.section-title {
  font-size: 1.85rem;
  margin-bottom: 24px;
  font-weight: 500;
}

.affirmation-card {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 16px 14px;
  font-size: 0.9rem;
  color: #f5f5ec;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.slider-nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  position: relative;
  z-index: 2;
}

.slider-nav {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.slider-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f5ec;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-btn.active {
  background-color: #394931 ;
}

.h2{
  margin-bottom: 4rem;
}

/*--------------------------------------------------CONTACT SECTION-----------------------------------------------------------------------*/
#contact{
  scroll-margin-top: 100px;
}

.contact-section {
  background-color: rgba(134,155,139,0.2);
  color:#2D2D2D; /*mauve*/
  position: relative;
  overflow: hidden;
  padding: 200px 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #E1DBCB;/*bone*/
  z-index: 0;
}

.contact-section .container {
  position: relative;
  z-index: 1;
  max-width: 1140px; 
  width: 100%;
  margin: auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}

.form-control {
  border-radius: 0.5rem ;
  background-color: rgba(248, 241, 238, 0.5);
  color: #2D2D2D; /*mauve*/
  border: 1px solid #9ca089; /*lemon grass*/ 
  font-size: 0.85rem;
  padding: 6px 10px;
}

.form-control::placeholder {
  color: #2D2D2D; /*mauve*/
  font-size: 0.8rem;
}

.btn-submit {
  background-color:#394931; /*darkgreen*/
  color: #f8f1ee;
  border-radius: 2rem;
  padding: 6px 20px;
  border: none;
  transition: all 0.3s;
  font-size: 0.85rem;
}

.btn-submit:hover {
  background-color: #9ca089; /*lemon grass*/ 
  color: #394931; /*darkgreen*/
}


.contact-info-box {
  border: 1px solid #394931; /*darkgreen*/
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  min-height: 395px; 
  background-color: rgba(255, 255, 255, 0.08); 
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 20px rgba(53, 47, 47, 0.20);
}

.contact-info-box h5 {
  font-size: 2rem;
}

.contact-info-box .icon-circle {
  width: 25px;
  height: 25px;
  background-color: #5d624c;/*finch*/
  color:#f5f5ec; /*superlight*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.9rem;
}

.contact-info-box p {
  font-size: 0.9rem;
}

.icon-circle {
  width: 22px;
  height: 22px;
  background-color: #868b6b;/*battleship gray*/
  color: #f5f5ec; /*superlight*/ 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
}

/*---------------------------------------------------- Footer Section ----------------------------------------------------------*/
.footer-section {
  background-color: #394931;
  color: #f5f5ec;
  padding-left: 50px;
  padding-right: 50px;
}

/* Footer Links */
footer a {
  text-decoration: none;
  color: #f5f5ec;
}

footer a:hover {
  color: #E1DBCB;/*bone*/
}

.footer-section h5{
  font-size: 1.75rem;
  color: #f5f5ec;
}
 
/* Social Icons */
footer .social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #394931; /*darkgreen*/
  transition: all 0.3s ease;
}
footer .social-icons a:hover {
  background-color: #868b6b;/*battleship gray*/ 
  color: #E1DBCB;
  transform: scale(1.2);
}
footer a {
  transition: color 0.3s ease;
}
.footer-section .icon {
  transition: color 0.3s ease, transform 0.2s ease;
}


/* Target the container only inside the footer */
footer .container {
  margin: auto;
  max-width: 1100px;
  padding-left: 0.20rem;
  padding-right: 0.20rem;
}
